
/* Header and top navigation bar */
html {
  font-size: 16px;
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
  color: #38383a;
  font-size: 1rem;
	line-height: 1.6;
	margin: 0;
	min-height: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	color: #545556;
  text-decoration: none;
}

#nav-bar {
	margin-top: 5px;
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  color: #38383a;
  margin: 0;
  padding-left: 10px;

}

#nav-bar a {
	padding: 10px 15px;
  color: #4e4e4f;
  font-size: 1.5rem;
	text-transform: uppercase;
  font-weight: bolder;
	text-align: center;
	display: block;
}

#nav-bar a:hover {
	color: #936c64;
}

header {
  width: 100%;
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
	padding-top: .8rem;
	padding-bottom: .8rem;
	border: 1px solid #a2a2a2;
	background-color: #e0beb8;
  max-height: 170px;
}

/* Hero area */

#welcome-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-image: url("https://i.postimg.cc/xTnRwvkV/background-desk.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

#welcome-section .welcome-text {
  width: 70%;
  color: #4e4e4f;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-bottom: 200px;
}

#welcome-section h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  padding-top: 10px;
  text-align: center;
}

#welcome-section p {
  padding-top: 10px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Portfolio area */

#projects {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

#projects .project-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 100%;

}


#projects h2 {
  width: 90%;
  padding: 20px 0;
  text-align: center;
  font-size: 2rem;
}


#projects .container {
  width: 70%;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.project-tile img {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 20px;
  border: 3px solid #E2D6C0;
}

.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin: 10px;
}

.show-more button {
  background-color: #DCCBBE;
  margin-bottom: 20px;
}

.show-more p a {
    color: #4e4e4f;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
  }

  .show-more a:hover {
  	color: #936c64;
  }


/* footer & contact section */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #C5AEAF;
  margin-bottom: 0;
}

#contact h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
}

#contact p {
  margin: 0;
  text-align: center;
  padding: 15px;
  font-size: 1.8rem;
}

#contact .content-wrapper {
  width: 55%;
  margin: 30px 0;
}

#contact .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

#contact .social-icons p {
  background-color: #E2D6C0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact .social-icons p i {
  font-size: 1.8rem;
  color: #545556;
}

footer .copyright {
  margin-top: 12px;
  text-align: center;
}


/* Media Queries */

@media (min-width: 769px) {
	header,
	#nav-bar {
		display: flex;
	}
	header {
		flex-direction: column;
		align-items: center;
    	header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {

  /*Header */

	header {
		flex-direction: row;
		justify-content: space-between;
	}

  #nav-bar a {
    font-size: 1.2rem;

}

  /*Welcome section */

  #welcome-section {
    margin-top: 115px;
  }

  #welcome-section .welcome-text {
    width: 80%;
    color: #4e4e4f;
    padding-bottom: 270px;
    line-height: .5;
  }

  #welcome-section h2 {
    font-size: 2.2rem;
  }

  #welcome-section p {
    padding-top: 5px;
    font-size: 1.1rem;
  }

/* Portfolio section */

#projects h2 {
  font-size: 1.5rem;
}

#projects .project-tile {
  flex-basis: 50%;

}

.show-more p a {
    font-size: 1.2rem;
  }

  /* Footer */

  #contact h2 {
    font-size: 1.5rem;
  }

  #contact p {
    font-size: 1.1rem;
  }
